{% extends "base.html" %}

{% block header %}
<script src="../static/js/jsgrid.min.js"></script>
<link href="../static/css/jsgrid-theme.min.css" rel="stylesheet">
<link href="../static/css/jsgrid.min.css" rel="stylesheet">

<style type="text/css">
    .jsgrid-grid-body{
        overflow: auto;
    }
    .slide-box{
        margin-top: 0px;
        display: -webkit-box;
        overflow-x: scroll;
        -webkit-overflow-scrolling:touch;
    }
</style>
{% endblock %}


{% block user %}
<ul class="navbar-nav my-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10" />{{username}}</a>
    </li>
</ul>
{% endblock %}

{% block page %}
        <div class="container-fluid">
            {% csrf_token %}
            <div class="row">
                <div class="breadcrumb">
                             <a  href = '/data' class="btn waves-effect waves-light btn-warning hidden-md-down" id = "ensure"> 刷新 </a>
                </div>
            </div>   
             <div class="slide-box">
                 <table id="jqGrid" ></table>
            </div>
        </div>
        
<script type="text/javascript">
    var clients =  {{ data|safe }} 
    $("#jqGrid").jsGrid({
        width: "120%",
        height: "100px",
        inserting: false,
        editing: false,
        sorting: true,
        paging: true,
        data: clients,
        fields: {{ fields|safe }} ,
        autowidth: true,
        bAutoWidth: false,
        autowidth : true,
        shrinkToFit: false,
        rownumWidth: true,
        pagerpos:"center",  
        rownumbers: true,  
        rowNum : 5

    });
</script>

{% endblock %}
