{% extends "base.html" %}

{% block user %}
<ul class="navbar-nav my-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10" />{{username}}</a>
    </li>
</ul>
{% endblock %}

{% block page %}
    <div class="container-fluid">
        <div class="row">
            <div class="form-group">
             <form action="" method='post'>
              <table>
                <tbody>
                {% csrf_token %}
                {{ form.as_table }}
                <tr>
                    <td><input class="btn btn-success" type="submit" value="确定">
                </tr>
                </tbody>
              </table>
            </form>
          </div>
        </div>

        <label class="card-title m-t-10" id = "message" style="color: red"> 
               {{ message }} 
        </label>
    </div>


<script type="text/javascript">
    // $("#message").css('color', 'red')
</script >

{% endblock %}
