{% extends "base.html" %}

{% block header %}
<script src="../static/js/echarts.js"></script>
<script src="../static/js/jsgrid.min.js"></script>
<link href="../static/css/jsgrid-theme.min.css" rel="stylesheet">
<link href="../static/css/jsgrid.min.css" rel="stylesheet">
{% endblock %}
{% block user %}
<ul class="navbar-nav my-lg-0">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../static/assets/images/users/1.jpg" alt="user" class="profile-pic m-r-10" />{{username}}</a>
    </li>
</ul>
{% endblock %}

{% block page %}
            <div class="container-fluid">
                {% csrf_token %}
                <div class="row">
                    <label class="breadcrumb">GLASSID</label>
                    <div class="breadcrumb">
                    <select style="width: 230px" id="glassid">
                        {% for glassid in glassids %}
                            <option>{{ glassid }}</option>
                        {% endfor %} 
                    </select>
                </div>
                
                    <label class="breadcrumb">CHAMBER</label>
                    <div class="breadcrumb">
                    <select style="width: 230px"  id="chamber"
                     >
                        {% for chamber in chambers %}
                            <option>{{ chamber }}</option>
                        {% endfor %} 
                    </select>
                </div>
                
                <div class="breadcrumb">
                     <a  class="btn waves-effect waves-light btn-warning hidden-md-down" id = "ensure"> 查询 </a>
                </div>
                </div>


                <div class="row">
                    <div class="breadcrumb">
                    <div class="btn-group" id = 'select' data-toggle="buttons" >
                  <label class="btn btn-primary btn ">
                    <input type="radio" name="options" id="option1" onchange="FreshData(this.value)" value="before" > 优化前
                  </label>
                  <label class="btn btn-primary btn">
                    <input type="radio" name="options" id="option2" onchange="FreshData(this.value)" value="after"> 优化后
                  </label>
                    </div>
                   </div>
                </div>
                 
                <div class="row">
                    <div class="breadcrumb">
                    <div id="PPA_X" style="width: 1150px;height:325px"></div>
                    </div>
                    <label class="breadcrumb" id = 'PPA_X_des'></label>
					<!-- <div class="breadcrumb" style="width: 420px ">
                    <table id="jqGrid" ></table>
                    </div> -->

                    <div class="breadcrumb">
                    <div id="PPA_Y" style="width: 1150px;height:325px;"></div>
                    </div>
                    <label class="breadcrumb" id = 'PPA_Y_des'></label>
                   <!--  <div class="breadcrumb" style="width: 420px ">
                    <table id="jqGrid1" ></table>
                    </div> -->

                </div>

<script type="text/javascript">
// 基于准备好的dom，初始化echarts实例
var alldata = {{alldata |safe}} // {"before":{"PPA_X":[]}}
var glassid = ''
var chamber = ''

var option = {
    title: {
        text: ''
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['position','ppa',"th1","th2"],
        show : true,
    },
    grid: {
        left: '3%',
        right: '4%',
        bottom: '3%',
        containLabel: true
    },
    dataZoom: [
        {
            type: 'slider',
            xAxisIndex: 0,
            filterMode: 'empty'
        },
        {
            type: 'slider',
            yAxisIndex: 0,
            filterMode: 'empty'
        },
        {
            type: 'inside',
            xAxisIndex: 0,
            filterMode: 'empty'
        },
        {
            type: 'inside',
            yAxisIndex: 0,
            filterMode: 'empty'
        }
    ],
    toolbox: {
        show: true,
        feature: {
            dataZoom: {},
            dataView: {readOnly: false},
            restore: {},
            saveAsImage: {}
        }
    },
    xAxis: {
        type: 'value',
        min:"dataMin",
        max:"dataMax",
    },
    yAxis: {
        type: 'value',
        min:"dataMin",
        max:"dataMax",
    },
    series: [
    ]
};

function FreshData(select){
   var charts = ['PPA_X','PPA_Y']

   if (alldata[select].ppa_teg.length==0){
        alertify.error("该Glass未被优化") 
        return 
       }
   
   // PPA_X , PPA_Y 分别设置
   for (var chart = 0; chart <= charts.length; chart++) {
       item = charts[chart]  // PPA_X , PPA_Y
       console.log(alldata[select]['infos'])
       var myChart = echarts.init(document.getElementById(item));
       if (select=='before')
       {
        text = glassid+" "+chamber+": 优化前"+item+"分布"
       }
       else{
        text = glassid+" "+chamber+": 优化后"+item+"分布"
       } 
       myChart.clear();
       option.title.text = text
       option.series = []
       scatter = {
            name : "position",
            symbolSize: 5,
            type:'scatter',
            data:alldata[select]["ppa_teg"]}
       series = [scatter]
       
       console.log(alldata[select],'alldata[select]')
       var thsdict = alldata[select]['thresholds'][item]  // {'th1':{upper,lower},'th2':{upper,lower},"thname":''}
       var thcolors = {"th1":"green","th2":"red"}
       var thids = ["th1","th2"]
       for (var thid = 0; thid < thids.length; thid++) {
           var thname = thids[thid]
           var colors = ["gray",thcolors[thname],thcolors[thname]]
           var ths = [alldata[select]['thresholds'][item]['middle'],alldata[select]['thresholds'][item][thname]['upper'],alldata[select]['thresholds'][item][thname]['lower']]
           for (var i = 0; i < ths.length; i++) {
               var thdata = ths[i]
               for (var j = 0; j < thdata.length; j++) {
                    temp= {
                    name: thname,
                    type:'line',
                    symbolSize: 1,
                    lineStyle: {
                    normal: {
                        type: 'dashed'
                    },
                    },
                    itemStyle: {
                        normal: {
                            color: colors[i]
                        }
                    },
                    data:thdata[j]
                    }
                    series.push(temp)
               }   
            }
       }
       console.log("debug",alldata[select][item].length)
       for (var i = 0; i < alldata[select][item].length; i++) {
           line = {
            name : "ppa",
            type:'line',
            symbolSize: 5,
            itemStyle: {
            normal: {                
                color: 'blue'
            }
            },
            data: alldata[select][item][i] }
            series.push(line)
       }
       option.series = series
       console.log(alldata[select]["pp"],select)
       var pp = alldata[select]["pp"]
       option.xAxis.min = pp[0]
       option.xAxis.max = pp[1]
       option.yAxis.min = pp[2]
       option.yAxis.max = pp[3]
       myChart.setOption(option);     

       document.getElementById(item+'_des').innerHTML = alldata[select]['infos'][item];
    }
}

$("#glassid").select2()
$("#chamber").select2()

$("#ensure").click(function () {
    var $formData=new FormData();
    glassid = $("#glassid").val()
    chamber = $("#chamber").val()
    $formData.append("glassid",glassid);
    $formData.append("chamber",chamber);
    $.ajax({
        url:"/getopsppa",
        type:"POST",
        data:$formData,
        contentType:false,
        processData:false,
        headers:{"X-CSRFToken":$('[name="csrfmiddlewaretoken"]').val()},
        success:function (data) {
                if (data.length==0){
                    alertify.error("未发现符合条件数据") 
                }
                else {
                    alldata = data
                    FreshData("before")

                }
        }
    })
    })

$("#ensure").click()  // 页面初始化后自动执行一次
</script>

</div>
{% endblock %}